@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 2vw;
}

:root {
  --dark-color: #1f1e26;
  --light-clor: #e9eff2;
  --there-color: #4f5950;
  --shadow-color: rgba(0, 1, 26, 0.199);
}

body {
  background-color: var(--light-clor);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container header {
  backdrop-filter: blur(2px);
  width: 100vw;
  background-color: rgba(233, 239, 242, 0.9);
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: var(--dark-color);
  box-shadow: 0 0 20px 0 var(--shadow-color);
}

.container header a .logo {
  cursor: pointer;
  width: 5vw;
}

.container header .links {
  display: flex;
  flex-direction: row;
}

.container header .links > * {
  border-radius: 2px;
  padding: 1vw;
  user-select: none;
  cursor: pointer;
  font-size: 1.8vw;
  list-style: none;
  margin: 0 1vw;
  transition: color 0.3s;
}

.container header .links > *:hover {
  color: var(--there-color);
}

.container .main {
  margin-top: 2.1vw;
  padding: 2vw;
  color: var(--dark-color);
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container .main .main-sunglasses {
  user-select: none;
  float: right;
  width: 40vw;
  transition: filter 0.5s;
}

.container .main .main-sunglasses:hover {
  filter: drop-shadow(20px 20px 0 var(--shadow-color));
}

.container .main .banner h1 {
  padding: 0 20px;
  font-weight: 700;
  color: var(--there-color);
  font-size: 6vw;
}

.container .main .banner p {
  padding-left: 40px;
  padding-top: 10px;
  color: var(--there-color);
}

.container .swap {
  color: var(--there-color);
  opacity: 60%;
  text-align: center;
  margin: 0.5vw;
  font-size: 1.2vw;
  transition: opacity 2s, letter-spacing 1s;
}

.about-container {
  padding: 2vw;
}

.about-container .about {
  margin: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-container .about .text {
  margin: 30px;
}

.about-container .about h2 {
  color: var(--dark-color);
  font-weight: 900;
  font-size: 4vw;
}

.about-container .about p {
  color: var(--there-color);
  padding: 2vw;
  line-height: 2wh;
}

.about-container .about img {
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 var(--shadow-color);
}

.footer {
  margin-top: 10vh;
  padding: 1vh 2vw;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 30px 0 var(--shadow-color);
  background-color: var(--dark-color);
}

.footer > * {
  text-decoration: none;
  font-size: 1.5vw;
  color: var(--light-clor);
}
